.navbar-search {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #ffffff;
  //box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .3);
  z-index: 10001;
}

.navbar-content {
  display: flex;
  align-items: center;
  height: 84px;
  padding-left: 20px;
}
