.shop-search-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #ffffff;
  z-index: 10001;
}

.products-list {
  padding: 0 46px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.search-group {
  display: flex;
  align-items: center;
  height: 84px;
  padding-left: 46px;
}

.search-group Input {
  height: 50px;
  line-height: 50px;
  background: rgba(239, 239, 239, .8);
  border-radius: 15PX;
  padding-left: 20px;
  margin: 0 20px;
  font-size: 26px;
  width: 50%;
}

.screen-bar {
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid #dbdbdb;
}

.screen-bar-item {
  font-size: 26px;
  padding: 0 24px;
  color: rgba(0, 0, 0, .8);
}

.screen-bar-item.active {
  color: #000000;
  font-weight: 800;
}
