.search-group {
  display: flex;
  align-items: center;
  height: 84px;
  padding-left: 20px;
}

.search-group Input {
  height: 50px;
  line-height: 50px;
  background: rgba(239, 239, 239, .8);
  border-radius: 15PX;
  padding-left: 20px;
  margin: 0 20px;
  font-size: 26px;
  width: 50%;
}

.hot-search {
  padding: 20px;
}

.hot-search-title {
  font-size: 28px;
  font-weight: 600;
}

.hot-search-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.hot-search-item {
  height: 30px;
  line-height: 30px;
  text-align: center;
  padding: 10px 20px;
  border-radius: 15PX;
  margin: 10px 1.25%;
  background: rgba(239, 239, 239, .3);
  font-size: 26px;
  color: #8a8a8a;
}
